<!-- 
<p> : <strong>{{Data.volatility.0}}</strong></p>
<p>:  <strong>{{Data.volatility.1}}</strong></p>
<p>Percentage change:{{Data.Pchange}} </p>
<p>Volume:{{Data.Volume}}</p>
<p>Market Capitalisation: {{Data.Market}}</p>
<p>Last Quarter Sales: {{Data.Quarter}}</p>
<p>Last Quarter Net Income: {{Data.NetIncome}}</p>
<p>Price/Earnings ratio: {{Data.Pe}}</p>
 -->


<table class="table">
    <thead>
      <tr>
        <th scope="col" colspan="2" class="cne">{{Data.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="cne1 ">Volatility for chosen time</td>
        <td>{{Data.volatility.0}}</td>

      </tr>
      <tr>

        <td class="cne1 ">Mean close price</td>
        <td>{{Data.volatility.1}}</td>
      </tr>

      <tr>
        <td class="cne1 ">Volume</td>
        <td>{{Data.Volume}}</td>
      </tr>

      <tr>
        <td class="cne1 ">Market Capitalisation</td>
        <td>{{Data.Market}}</td>
      </tr>

      <tr>
        <td class="cne1 ">Last Quarter Sales</td>
        <td>{{Data.Quarter}}</td>
      </tr>

      <tr>
        <td class="cne1 ">Last Quarter Net Income</td>
        <td>{{Data.NetIncome}}</td>
      </tr>

      <tr>
        <td class="cne1 ">Volume</td>
        <td>{{Data.Volume}}</td>
      </tr>

      <tr>
        <td class="cne1 ">Price/Earnings ratio</td>
        <td>{{Data.Pe}}</td>
      </tr>
    </tbody>
  </table>