<canvas id="myChart{{n}}" width="500" height="300"></canvas>
<script>
var ctx = document.getElementById('myChart{{n}}').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
				{% for item in Data.label %}
					"{{ item }}",
				{% endfor %}
			],
        datasets: [{
			label: "{{name_}} stock price",
            data : [
				{% for item in Data.Data %}
					"{{ item }}",
				{% endfor %}
	        ],
            backgroundColor: 'rgba(0, 181, 190, 0.11)',
            borderColor: '{{color}}',
            borderWidth: 2,
            fill: true
        }]
    },
    
});
</script>