{% extends 'base.html' %}

{% block content%}
<style type="text/css">
	body{
		background: #E3B07F;
	}
	.row{
		width:700px;
		margin:auto;
		padding-top: 10px;
	}
	h1{
		font-size:150px;
		margin-top: 200px;
		text-align: center; 
		}
	#meow{
		border: 1px solid;
		margin-top:10px;
		margin-bottom: 30px;	
		margin-left:45%;
	}
	p{
		font-size: 15px;
		margin-top: 4px;
		margin-left: 15px;
	}
	body {
	  margin: 0;
	}

	thead{
		margin-left: -20px;
	}

	#wrapper {
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  grid-auto-rows: minmax(200px, auto);
	}
	.info{
		border: solid 1px black;
	}
	h3{
		text-align: center;
	}
</style>




<h1 >Crypto Analysis</h1>
<p class="text-center"> Write the tickers of three companies you want to analyse </p>
<form method="POST">
	{% csrf_token %}
<div class="container">
  <div class="row">
    <div class="col-sm " id>
	<input type="text" name="crypto1" placeholder="Ticker-Name">
    </div>
    <div class="col-sm" >
	<input type="text" name="crypto2" placeholder="Ticker-Name">
    </div>   
     <div class="col-sm" >
	<input type="text" name="crypto3" placeholder="Ticker-Name">
    </div>
  </div>
    <button id="meow" type="submit" class="btn btn-primary">Analyse</button>
</div>
</form>


{% if form.non_field_errors %}
<div class="alert alert-warning	" role="alert">
	<p>{{ form.non_field_errors}}</p>
</div>	
{% endif %}

{% if symbol_1 %}

<div id="wrapper">
	<!-- first row of the screen	 -->
	<div class="splittable">
		<h3>{{symbol_1.name}}</h3>

		<div class="info">
			{% include "analyser/snippets/stock_info.html" with  Data=symbol_1%} 
		</div>
		{% include "analyser/snippets/table.html" with color='rgba(54, 162, 235, 1)' n=0  Data=symbol_1 name_=symbol_1.name	 %} 
	</div>


	<!-- second row  -->
	<div class="splittable">
		<h3>{{symbol_2.name}}</h3>
		<div class="info">
			<!-- TODO: Make a snippet for the info section of the website. -->
			<!-- TODO: Possibly change the code so that each ticker gets its own object instead of a one for all like now  -->
			<!-- TODO: Finish the code below to include all the specific variables -->
			{% include "analyser/snippets/stock_info.html" with Data=symbol_2 %} 
		</div>
		{% include "analyser/snippets/table.html" with color="rgba(255, 66, 111, 1)" n=1 Data=symbol_2 name_=symbol_2.name%} 
	</div>


	<!-- third row -->
	<div class="splittable">
		<h3>{{symbol_3.name}}</h3>

		<div class="info">
			{% include "analyser/snippets/stock_info.html" with Data=symbol_3 %} 		
		</div>
		{% include "analyser/snippets/table.html" with color='rgba(255, 206, 86, 1)' n=2 Data=symbol_3 name_=symbol_3.name %} 
	</div>

</div>

{% endif %}




{% endblock content%}